/* ---------------------------------------------------------------------------*/
/*                                PAGE BACKGROUND                             */
/* ---------------------------------------------------------------------------*/
body {
  background-color: #313443;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0;
}

.container {
  width: auto;
  height: auto;
}

/* ---------------------------------------------------------------------------*/
/*                              MENU NAVIATION                                */
/* ---------------------------------------------------------------------------*/
.menu {
  width: 74.5%;
  height: 40px;
  float: right;
  margin-left: 5px;
}

.menu button {
  box-sizing: border-box;
  background-color: #63677C;
  float: right;
  border: none;
  text-decoration: none;
  height: 100%;
  width: 50%;
  color: #D1D2DA;

  transition-duration: 0.4s;
  outline: none;
  cursor: pointer;
}
.menu button:hover {
  background-color: #9196AD;
}

#menuButton1 {
  border-left: 2px;
  border-left-style: solid;
  border-left-color: #313443;

  border-top-right-radius: 10px;
}

#menubutton2 {
  border-right: 2px;
  border-right-style: solid;
  border-right-color: #313443;
}

/* ---------------------------------------------------------------------------*/
/*                            NOTIFCATION SIDE BAR                            */
/* ---------------------------------------------------------------------------*/
.notify_sidebar {
  box-sizing: border-box;
  background-color: #63677C;
  position: fixed;
  width: 25%;
  height: 99vh;
  border-radius: 10px 0 0px 10px;

  padding-top: 7px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 7px;

  top: 5;
  left: 2.5;

  overflow-y: auto;
}

.note_box {
  box-sizing: border-box;
  display: block;
  width: 95%;
  background-color: #313443;
  border-radius: 10px;
  color: #D1D2DA;
  margin: auto;

}

.note_content {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 7px;

  text-align: left;
}

.note_content p {
  margin: 2px;
}

.removeNote:hover {
  background-color: #9196AD;
}

/* ---------------------------------------------------------------------------*/
/*                            PAGE CENTER CONTENT                             */
/* ---------------------------------------------------------------------------*/
.main_content {
  box-sizing: border-box;
  width: 74.5%;
  height: 94.3vh;
  background-color: #63677C;

  border-bottom-right-radius: 10px;

  float: right;
  margin-top: 5px;
  margin-left: 10px;

  padding: 10px;
  text-align: center;
  overflow-y: auto;
}

/* -------------------------- SENSORS TEMPLATE -------------------------------*/
.data_container {
  box-sizing: border-box;
  width: auto;
  height: auto;
  text-align: center;

  /*background-color: #313443;*/
}

.chart {
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
  height: 250px;

  border-color: #313443;
  border-style: solid;
  background-color: #D1D2DA;
}

#chart1 {
  /*background-color: #9196AD;*/
  border-radius: 3px;
}
