<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
<head>
  <meta content='controlHub' charset='utf-8'>
  <title>Test</title>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
</head>
<body>
  <div class='container'>
    <div class='menu'>
      <button id="menuButton1" onclick="location.href='{{ url_for('sensors') }}'">Sensor</button>
      <button id="menuButton2">Camera</button>
    </div>

    <div class='main_content'>
      {% block content %}
      {% endblock %}
    </div>

    <div class='notify_sidebar'>

      <div class='note_box'>
        <div class='note_content'>
          <p>Title</p>
          <p>This is a notification, this is a going to be a really long thing</p>
          <ul>
            <li>This is a list of things that might be wrong</li>
            <li>This is more stuff that is going on</li>
            <li>line three</li>
          </ul>
        </div>
      </div>

    </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
